{% extends 'base.html.twig' %}

{% block title %}Shipping Schedule{% endblock %}

{% block body %}
<div class="container">
    <h1>Shipping Schedule</h1>

    <div id="loading" class="loading">
        <div class="loading__spinner"></div>
        <p class="loading__text">Verbinde...</p>
    </div>

    <div id="task-container"></div>
</div>

<div id="xit-act-modal" class="modal-overlay modal--hidden">
    <div class="modal">
        <div class="modal__header">
            <h3>XIT ACT Script</h3>
            <button class="modal__close" type="button">&times;</button>
        </div>
        <div class="modal__body">
            <pre id="xit-act-json"></pre>
        </div>
        <button id="xit-act-copy" class="modal__copy-btn" type="button">Copy to Clipboard</button>
    </div>
</div>
{% endblock %}
